.caro{
    text-align: center;
    color: blue;
}

.button{
    text-align: center;
    color: brown;
    font-size: xx-large;
}
.container {
background-color: none;
font-size: large;
}

body{
    background-color: skyblue;
}
h1{
text-align: center;
font-family: 'Kaushan Script', cursive;
font-size: 70px;
}
.col-md-5 {
float: left;
}
p  {
color: black;
}
.panel  {
background-color: green;
color: aliceblue;
}
.form p  {
color: black;
font-size: xx-large;
}
.form > button:hover{
background-color: rgba(25, 25, 255, .9);
}

.footer{
display: inline-block;
width: 100%;
margin: 2%;
padding-right: 8px;
padding-left: 12px;
text-align: center;
box-shadow: 0 0 15px 2px rgba(40, 73, 114, 1);
background-color: teal;
color: black;
}